.add-post,
.add-comment {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
  form {
    textarea {
      @include TEXT_AREA;
    }
    textarea::placeholder {
      font-family: "Playfair Display", serif;
    }
    .icons-container {
      @include FLEX_ROW_BETWEEN;
      .input-button-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
  .add-post-button-container {
    display: flex;
    justify-content: center;
  }
}
.add-comment {
  width: 100%;
}
