.add-post {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2rem;
  form {
    textarea {
      width: 100%;
      height: 5rem;
      resize: none;
      border-radius: 6px;
      padding-left: 0.5rem;
    }
    .icons-container {
      .input-button-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
      display: flex;
      justify-content: space-between;
      .icon {
        cursor: pointer;
        font-size: 30px;
      }
    }
  }
  .add-post-button-container {
    display: flex;
    justify-content: center;
  }
}
