.auth-modal {
  @include MODAL_POSITION;
  background-color: $ATHENS_GRAY;
  @include FLEX_COLUMN_CENTER;
  border-radius: 16px;

  .auth-modal-header {
    background-color: $APPLE;
    width: 100%;
    @include FLEX_ROW_BETWEEN;
    padding: 1rem;
    color: $ATHENS_GRAY;
    border-radius: 16px 16px 0 0;
  }

  form {
    margin: 1rem;
    @include FLEX_COLUMN_CENTER;
    gap: 1rem;
    width: 90%;

    input,
    select {
      width: 90%;
      height: 2rem;
      border: solid 2px $APPLE;
      border-radius: 6px;
      padding-left: 0.5rem;
      color: grey;
      background-color: white;
    }

    .password-container {
      position: relative;
      width: 90%;
      input {
        width: 100%;
      }

      .showHidePassword {
        position: absolute;
        top: 25%;
        right: 3%;
        color: black;
      }
    }
  }

  .icons-container {
    @include FLEX_ROW_BETWEEN;
    width: 90%;
    .input-button-container {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.signUpModalOff,
.loginModalOff {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.signUpModalOn,
.loginModalOn {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
