* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 95vh;
  background-color: $ATHENS_GRAY;
  button {
    cursor: pointer;
  }
}
.App {
  margin-top: 4rem;
  .icon {
    cursor: pointer;
    font-size: 30px;
    color: $APPLE;
  }
  .close-button {
    border: none;
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: $ATHENS_GRAY;
  }
  .main-button,
  .cancel-button {
    border-radius: 6px;
    font-size: 1.2rem;
    padding: 0.2rem 0.4rem;
    background-color: $APPLE;
    color: $ATHENS_GRAY;
    border: none;
  }
  .cancel-button {
    background-color: $BOUQUET;
  }
  .submit-buttons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
  }
  .hidden-div.open {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .date-gender-container {
    display: flex;
    width: 90%;
    gap: 1rem;
    .date-container {
      width: 100%;
    }
  }
  .error {
    color: $BOUQUET;
    width: 90%;
    text-align: center;
  }
}
