.delete-post {
  width: 300px;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  padding-top: 3rem;
  background-color: white;
  .delete-post-header {
    background-color: #cd729c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    color: black;
    height: 3rem;
  }
}
.delete-post-off {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.delete-post-on {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}
