.delete-comment,
.delete-post,
.update-comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: $ATHENS_GRAY;
  display: flex;
  flex-direction: column;
  align-items: center;
  .delete-header,
  .update-header {
    background-color: $APPLE;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.buttons-container {
  display: flex;
  gap: 1rem;
}
