.liked-by {
  @include MODAL_POSITION;
  background-color: $ATHENS_GRAY;
  border-radius: 16px;
  .liked-header {
    background-color: $APPLE;
    width: 100%;
    @include FLEX_ROW_BETWEEN;
    padding: 1rem;
    color: $ATHENS_GRAY;
    border-radius: 16px 16px 0 0;
  }
  .liked-users-container {
    @include FLEX_COLUMN_CENTER;
    gap: 1rem;
    margin: 1rem;
    .liked-user {
      width: 60%;
      @include FLEX_ROW_BETWEEN;
      align-items: flex-end;
      height: auto;
      border-bottom: solid 1px $APPLE;
      img {
        @include CIRCLED_IMG_2REM;
      }
      p {
        cursor: pointer;
        width: 60%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
  }
}
