.action-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .show-more-button {
    align-self: flex-end;
    cursor: pointer;
  }
  .more-buttons-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.1rem;
  }
}
