.my-liked-posts {
  width: 90%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.1rem;
  .posts-list {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px black;
    .post-container {
      img {
        width: 100%;
        height: 5rem;
        object-fit: cover;
      }
      p {
        height: 1rem;
        overflow: hidden;
        font-size: 0.5rem;
      }
    }
  }
}
