.navbar-container {
  background-color: $ATHENS_GRAY;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  .routes-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .route {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      width: 2rem;
      border: solid $APPLE 2px;
      border-radius: 50%;
      padding: 1rem;
      .nav-icon {
        font-size: 20px;
        color: black;
      }
      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: block;
        cursor: pointer;
      }
    }
  }
  .pages {
    text-align: center;
    .burger-menu {
      display: none;
    }
    .burger-menu.on {
      background-color: $ATHENS_GRAY;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-height: 100vh;
      button {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        color: $APPLE;
        font-weight: bolder;
      }
    }
    .signUp-login-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 25vh;
    }
  }
  .server-response-message {
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.469);
    color: grey;
    border-radius: 6px;
    padding: 0 0.3rem;
    font-size: 12px;
  }
  .alert-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background-color: $ATHENS_GRAY;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    .alert-modal-header {
      background-color: $APPLE;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      color: $ATHENS_GRAY;
      border-radius: 16px 16px 0 0;
    }
    p {
      width: 80%;
      text-align: center;
      margin: 1rem;
    }
  }
  .buttons-container {
    display: flex;
    gap: 1rem;
  }
}
