.navbar-container {
  background-color: $ATHENS_GRAY;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
  .routes-container {
    display: flex;
    justify-content: space-around;
    .app-name {
      display: none;
    }
    .route {
      display: flex;
      justify-content: center;
      align-items: center;
      @include CIRCLED_IMG_2REM;
      border: solid $APPLE 2px;
      padding: 1rem;
      .nav-icon {
        font-size: 20px;
        color: black;
      }
      img {
        @include CIRCLED_IMG_2REM;
        display: block;
        cursor: pointer;
      }
    }
  }
  .pages {
    text-align: center;
    .burger-menu {
      display: none;
    }
    .burger-menu.on {
      background-color: $ATHENS_GRAY;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      min-height: 100vh;
      button {
        font-size: 1.5rem;
        background-color: transparent;
        border: none;
        color: $APPLE;
        font-weight: bolder;
      }
    }
    .signUp-login-container {
      @include FLEX_COLUMN_CENTER;
      justify-content: space-between;
      height: 25vh;
    }
  }
  .server-response-message {
    position: absolute;
    top: 5%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.469);
    color: grey;
    border-radius: 6px;
    padding: 0 0.3rem;
    font-size: 12px;
  }
}
