.update-modal {
  @include MODAL_POSITION;
  background-color: $ATHENS_GRAY;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  .update-header {
    background-color: $APPLE;
    width: 100%;
    @include FLEX_ROW_BETWEEN;
    padding: 1rem;
    color: $ATHENS_GRAY;
    border-radius: 16px 16px 0 0;
  }
  form {
    margin: 1rem;
    @include FLEX_COLUMN_CENTER;
    gap: 1rem;
    width: 90%;
    input,
    select {
      width: 90%;
      height: 2rem;
      border: none;
      border-radius: 6px;
      padding-left: 0.5rem;
      background-color: white;
      color: grey;
    }
    textarea {
      @include TEXT_AREA;
    }
    .icons-container {
      width: 100%;
      @include FLEX_ROW_BETWEEN;
      .input-button-container {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
