.profile {
  .profile-info {
    @include FLEX_COLUMN_CENTER;
    gap: 1rem;
    padding: 1rem;
    .pic-container {
      .user-icon {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: solid 2px $APPLE;
      }
      img {
        width: 10rem;
        height: 10rem;
        display: block;
        object-position: top;
        object-fit: cover;
        border-radius: 50%;
        border: solid 2px $APPLE;
      }
    }
    .information {
      width: 90%;
      p {
        @include FLEX_ROW_BETWEEN;
        span {
          text-decoration: underline;
          margin: 0.5rem 0;
        }
      }
    }
    .update-section {
      width: 90%;
    }
  }
  .activity-buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    button {
      margin: 1rem;
    }
  }
  .activity-list {
    display: flex;
    justify-content: center;
  }
}

.profile-liked-posts-comments {
  width: 90%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.1rem;
  .posts-list {
    width: 32%;
    height: auto;
    @include FLEX_ROW_BETWEEN;
    flex-direction: column;
    border: solid 1px black;
    .post-container {
      img {
        width: 100%;
        height: 5rem;
        object-fit: cover;
      }
      p {
        height: 1rem;
        overflow: hidden;
        font-size: 0.5rem;
      }
    }
  }
}

.likes-container {
  width: 100%;
  .likes-and-comments {
    display: flex;
    gap: 1rem;
  }
  .likes-div {
    display: flex;
    cursor: pointer;
  }
}
