// $MY_GREEN: #6aaf3c;
// $MY_DARK_BLUE: #3d4774;
// $MY_LIGHT_BLUE: #8cd4bf;
// $MY_RED: #f34a52;
// $MY_LIGHT_GREY: #ede2e2;

$ATHENS_GRAY: #f2f4f6;
$GULF_STREAM: #7ebbae;
$APPLE: #6aaf3c;
$BOUQUET: #b47e9f;
$OXFORD_BLUE: #40455e;
@mixin MY_BORDER {
  border: solid 1px red;
}

// F2F4F6
// 7EBBAE
// 6AAF3C
// B47E9F
// 40455E
