$ATHENS_GRAY: #f2f4f6;
$APPLE: #6aaf3c;
$BOUQUET: #b47e9f;

@mixin FLEX_COLUMN_CENTER {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin FLEX_ROW_BETWEEN {
  display: flex;
  justify-content: space-between;
}

@mixin TEXT_AREA {
  width: 100%;
  min-height: 5rem;
  resize: none;
  border-radius: 6px;
  padding-left: 0.5rem;
  white-space: pre-line;
  font-family: "Playfair Display", serif;
}

@mixin MODAL_POSITION {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
}

@mixin CIRCLED_IMG_2REM {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
