* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 95vh;
  background-color: #f2f4f6;
}
body button {
  cursor: pointer;
}

.App {
  margin-top: 4rem;
}
.App .icon {
  cursor: pointer;
  font-size: 30px;
  color: #6aaf3c;
}
.App .close-button {
  border: none;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: black;
}
.App .main-button {
  border-radius: 6px;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  background-color: #6aaf3c;
  color: white;
  border: none;
}
.App .delete-update-buttons-container {
  display: flex;
  gap: 1rem;
}
.App .hidden-div.open {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.navbar-container {
  background-color: #f2f4f6;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1rem;
}
.navbar-container .routes-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-container .routes-container .route {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: solid #6aaf3c 2px;
  border-radius: 50%;
  padding: 1rem;
}
.navbar-container .routes-container .route .nav-icon {
  font-size: 20px;
}
.navbar-container .routes-container .route img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: block;
}
.navbar-container .pages {
  text-align: center;
}
.navbar-container .pages .burger-menu {
  display: none;
}
.navbar-container .pages .burger-menu.on {
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-height: 100vh;
}
.navbar-container .pages .burger-menu.on button {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: #6aaf3c;
  font-weight: bolder;
}
.navbar-container .pages .signUp-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 25vh;
}
.navbar-container .server-response-message {
  position: absolute;
  top: 5%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.469);
  color: grey;
  border-radius: 6px;
  padding: 0 0.3rem;
  font-size: 12px;
}

.login-modal {
  width: 300px;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  padding-top: 3rem;
}
.login-modal .login-modal-header {
  background-color: #cd729c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  position: fixed;
  top: 0;
  padding: 0 1rem;
  color: black;
  height: 3rem;
}
.login-modal .login-form-container {
  background-color: #3a3f98;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
}
.login-modal .login-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  gap: 1rem;
  height: 100%;
}
.login-modal .login-form-container form div {
  width: 100%;
}
.login-modal .login-form-container form div input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 6px;
  padding: 1rem;
}
.login-modal .login-form-container form .password-container {
  position: relative;
}
.login-modal .login-form-container form .password-container .showHidePassword {
  position: absolute;
  top: 25%;
  right: 3%;
  color: black;
}

.loginModalOff {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.loginModalOn {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.login-hidden-div.loginModalOn {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.signUp-modal {
  width: 300px;
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(-15%, -50%);
  display: flex;
  align-items: center;
  padding-top: 3rem;
  overflow: auto;
}
.signUp-modal .signUp-modal-header {
  background-color: #cd729c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  position: fixed;
  top: 0;
  padding: 0 1rem;
  color: black;
  height: 3rem;
}
.signUp-modal .signUp-form-container {
  background-color: #3a3f98;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem;
  color: white;
}
.signUp-modal .signUp-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: fit-content;
  gap: 1rem;
  width: 100%;
}
.signUp-modal .signUp-form-container form div {
  width: 100%;
}
.signUp-modal .signUp-form-container form div input {
  width: 100%;
  height: 2rem;
  border: none;
  border-radius: 6px;
  padding: 1rem;
}
.signUp-modal .signUp-form-container form .password-container {
  position: relative;
}
.signUp-modal .signUp-form-container form .password-container .showHidePassword {
  position: absolute;
  top: 25%;
  right: 3%;
  color: black;
}
.signUp-modal .signUp-form-container form .icons-container {
  display: flex;
  justify-content: space-between;
}
.signUp-modal .signUp-form-container form .icons-container .input-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.signUpModalOff {
  display: none;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.signUpModalOn {
  display: block;
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.signUp-hidden-div.signUpModalOn {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.home-container {
  width: 100%;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  background-color: white;
  border-radius: 16px;
  width: 90%;
}
.post .owner {
  width: 90%;
}
.post .owner h5 {
  color: grey;
}
.post img {
  width: 100%;
  object-fit: cover;
}
.post .post-body-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.post .post-body-container .edited {
  color: grey;
  align-self: flex-end;
}
.post .reactions-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.post .reactions-section .reactions-buttons {
  display: flex;
  gap: 1rem;
}
.post .reactions-section .reactions-buttons .icon {
  cursor: pointer;
}
.post .likes-comments-section {
  width: 90%;
}

.my-liked-posts {
  width: 90%;
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.1rem;
}
.my-liked-posts .posts-list {
  width: 32%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: solid 1px black;
}
.my-liked-posts .posts-list .post-container img {
  width: 100%;
  height: 5rem;
  object-fit: cover;
}
.my-liked-posts .posts-list .post-container p {
  height: 1rem;
  overflow: hidden;
  font-size: 0.5rem;
}

.add-post,
.add-comment {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.add-post form textarea,
.add-comment form textarea {
  width: 100%;
  height: 5rem;
  resize: none;
  border-radius: 6px;
  padding-left: 0.5rem;
}
.add-post form .icons-container,
.add-comment form .icons-container {
  display: flex;
  justify-content: space-between;
}
.add-post form .icons-container .input-button-container,
.add-comment form .icons-container .input-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.add-post .add-post-button-container,
.add-comment .add-post-button-container {
  display: flex;
  justify-content: center;
}

.add-comment {
  width: 100%;
}

.action-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.action-buttons-container .show-more-button {
  align-self: flex-end;
  cursor: pointer;
}
.action-buttons-container .more-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.1rem;
}

.likes-container {
  width: 100%;
}
.likes-container .likes-and-comments {
  display: flex;
  gap: 1rem;
}
.likes-container .liked-by {
  display: flex;
  cursor: pointer;
}

.post-liked-by {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-liked-by .post-liked-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.update-post {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-post .update-post-header {
  background-color: #6aaf3c;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.update-post form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.update-post form textarea {
  width: 100%;
  height: 5rem;
  resize: none;
  border-radius: 6px;
  padding-left: 0.5rem;
}
.update-post form .icons-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.update-post form .icons-container .input-button-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.update-comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.update-comment .update-comment-header {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comments .comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.comments .comment .comment-body-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.comments .comment .comment-body-container .edited {
  color: grey;
  align-self: flex-end;
}

.delete-comment,
.delete-post,
.update-comment {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #f2f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delete-comment .delete-header,
.delete-comment .update-header,
.delete-post .delete-header,
.delete-post .update-header,
.update-comment .delete-header,
.update-comment .update-header {
  background-color: #6aaf3c;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.profile .my-likes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .my-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=Style.css.map */
